/* stylelint-disable no-descending-specificity */
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/orange';
@import 'reset';
@import 'variables/global';

*::-webkit-scrollbar {
	width: 10px; /* ширина scrollbar */
	height: 10px; /* высота scrollbar */
}

*::-webkit-scrollbar-track {
	margin-block: 5px;
	border-radius: 10px; /* закругления дорожки */
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px; /* закругления плашки */
	border: 5px solid transparent; /* padding вокруг плашки */
}

*::-webkit-scrollbar-thumb:horizontal {
	background: none; /* убираем заполнение горизонтального скролла */
	border: none; /* убираем границы горизонтального скролла */
}

.app,
.app_modal,
.app_drawer {
	font: var(--font-m);
	color: var(--primary-color);
	overflow: hidden;
}

.app {
	min-height: 100vh;
	background: var(--bg-color);
	transition: background-color 0.3s;
}

.app,
.app_drawer {
	*::-webkit-scrollbar-track {
		background: var(--bg-color); /* цвет дорожки */
	}

	*::-webkit-scrollbar-thumb {
		border: 2px solid var(--primary-color);

		// background: linear-gradient(
		// 		to top,
		// 		var(--primary-color) 0%,
		// 		var(--primary-color) 1.7%,
		// 		transparent 1.7%,
		// 		transparent 98.3%,
		// 		var(--primary-color) 98.3%,
		// 		var(--primary-color) 100%
		// 	),
		// 	linear-gradient(
		// 		to left,
		// 		var(--primary-color) 0%,
		// 		var(--primary-color) 15%,
		// 		var(--bg-color) 15%,
		// 		var(--bg-color) 80%,
		// 		var(--primary-color) 80%,
		// 		var(--primary-color) 100%
		// 	);
		// background-clip: content-box;
	}

	*::-webkit-scrollbar-thumb:horizontal {
		background: none;
		border: 2px solid var(--primary-color);
	}
}

.app_redesign,
.app_modal_redesign,
.app_drawer_redesign {
	font: var(--font-m-redesigned);
	color: var(--text-redesigned);

	// background: var(--bg-redesigned);
	overflow: hidden;
}

.app_redesign {
	min-height: 100vh;
	min-width: 100vw;
	background: var(--bg-redesigned);
	transition: background-color 0.3s;
}

.app_redesign,
.app_drawer_redesign {
	*::-webkit-scrollbar-track {
		background: var(--card-redesigned); /* цвет дорожки */
	}

	*::-webkit-scrollbar-thumb {
		border: 2px solid var(--accent-redesigned);

		// background: linear-gradient(
		// 		to top,
		// 		var(--accent-redesigned) 0%,
		// 		var(--accent-redesigned) 1.7%,
		// 		transparent 1.7%,
		// 		transparent 98.3%,
		// 		var(--accent-redesigned) 98.3%,
		// 		var(--accent-redesigned) 100%
		// 	),
		// 	linear-gradient(
		// 		to left,
		// 		var(--accent-redesigned) 0%,
		// 		var(--accent-redesigned) 15%,
		// 		var(--light-bg-redesigned) 15%,
		// 		var(--bg-redesigned) 80%,
		// 		var(--accent-redesigned) 80%,
		// 		var(--accent-redesigned) 100%
		// 	);
		// background-clip: content-box;
	}

	*::-webkit-scrollbar-thumb:horizontal {
		background: none;
		border: 2px solid var(--accent-redesigned);
	}
}

.content-page {
	display: flex;
	position: absolute;
	flex-grow: 1;
	left: var(--sidebar-width);
	top: var(--navbar-heigth);
	width: calc(100vw - var(--sidebar-width));
	height: calc(100% - var(--navbar-heigth));

	&.collapsed {
		width: calc(100vw - var(--sidebar-width-collapsed));
		left: calc(var(--sidebar-width-collapsed));
	}
}

.content-page-redesign {
	display: flex;
	flex-grow: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&.collapsed {
		left: var(--sidebar-width-redesign-collapsed);
	}
}

.articles-header {
	left: calc(var(--sidebar-width) + 50px);

	&.collapsed {
		left: calc(var(--sidebar-width-collapsed) + 50px);
	}
}

main,
section {
	// display: flex;
	width: 100vw;
}

.page-wrapper {
	position: relative;
	flex-grow: 1;
	overflow: hidden;
	padding: 30px 30px 0 60px;
	margin-top: 0;
	pointer-events: all;
}
