@import 'themes/normal';
@import 'themes/dark';
@import 'themes/orange';
@import 'reset';
@import 'variables/global';

body {
	font: var(--font-m);
	color: var(--primary-color);
}

.app {
	min-height: 100vh;
	background: var(--bg-color);
	transition: background-color 0.3s;
}

.content-page {
	display: flex;
	position: absolute;
	flex-grow: 1;
	left: var(--sidebar-width);
	top: var(--navbar-heigth);
	width: calc(100vw - var(--sidebar-width));
	height: calc(100vh - var(--navbar-heigth));
	overflow: hidden;
}

.content-page-collapsed {
	left: var(--sidebar-width-collapsed);
	width: calc(100vw - var(--sidebar-width-collapsed));
}

.page-wrapper {
	position: relative;
	flex-grow: 1;
	padding: 20px 20px 20px 45px;
	margin-top: 0;
	overflow-y: auto;
}
