@import 'themes/normal';
@import 'themes/dark';
@import 'themes/orange';
@import 'reset';
@import 'variables/global';

.app,
.app_modal,
.app_drawer {
	font: var(--font-m);
	color: var(--primary-color);
}

.app {
	min-height: 100vh;
	background: var(--bg-color);
	transition: background-color 0.3s;
}

.content-page {
	display: flex;
	position: absolute;
	flex-grow: 1;
	left: var(--sidebar-width);
	top: var(--navbar-heigth);
	width: calc(100vw - var(--sidebar-width));
	height: calc(100vh - var(--navbar-heigth));
	overflow: hidden;
}

.content-page-collapsed {
	left: var(--sidebar-width-collapsed);
	width: calc(100vw - var(--sidebar-width-collapsed));
}

.articles-header {
	left: calc(var(--sidebar-width) + 50px);
}

.articles-header-collapsed {
	left: calc(var(--sidebar-width-collapsed) + 50px);
}

main {
	display: flex;
	width: 100vw;
	overflow-y: auto;
}

.page-wrapper {
	position: relative;
	flex-grow: 1;
	padding: 30px 30px 0 60px;
	margin-top: 0;
	pointer-events: all;
}

*::-webkit-scrollbar {
	width: 12px; /* ширина scrollbar */
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
	background-color: var(--inverted-primary-color); /* цвет плашки */
	border-radius: 20px; /* закругления плашки */
	border: 2px solid var(--primary-color); /* padding вокруг плашки */
}
