.PopOver {
	position: relative;
}

.trigger {
	background: none;
	outline: none;
	margin: 0;
	padding: 0;
	border: none;
	color: var(--primary-color);
	cursor: pointer;
}

.panel {
	background: var(--card-bg);
	position: absolute;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid var(--primary-color);
	overflow-y: auto;
	overflow-x: hidden;
}

.panelitem {
	padding: 0px 10px;
	width: 100%;
	background: none;
	border: 1px solid transparent;
	color: var(--primary-color);
	list-style-type: none;
	transition: all 0.3s ease;
	user-select: none;
	cursor: pointer;
}

.selected {
	&:hover {
		background: var(--inverted-primary-color);
		border-color: var(--primary-color);
		opacity: 0.9;
	}
}

.active {
	background: var(--inverted-primary-color);
	border-radius: 10px;
	//opacity: 0.9;
}

.disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
