.profilecard {
	padding: 20px;
}

.error {
	height: 30vh;
}

.loading {
	height: fit-content;
}

.editform {
	background: var(--dark-bg-redesigned);
}

.editing {
	background: var(--light-bg-redesigned);
}
