.loginform {
	display: flex;
	flex-direction: column;
	background: var(--card-bg);
	min-width: 400px;
}

.loginformredesign {
	background: var(--ligth-bg-redesigned);
	min-width: 400px;
}

.input {
	margin-top: 10px;
	font: var(--font-m);
}

.loginbtn {
	margin-top: 15px;
	margin-left: calc(100% - 100px);
}

.loginbtnredesign {
	margin-top: 15px;
}
