.NotificationList {
	padding: 0;
}

.trigger {
	position: relative;
	background: none;
	outline: none;
	margin: 0;
	padding: 0;
	border: none;
	color: var(--primary-color);
	cursor: pointer;
}

.notifications {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 50%;
	min-width: 50%;
	max-height: 50%;
	top: 0;
	right: 0;
	transform: translate(15%, -15%);
	background: var(--primary-color);
}

.notifyredesign {
	background: var(--light-bg-redesigned);
}
