.text {
	margin: 0;
}

.title {
	font: var(--font-l);
	color: var(--primary-color);
}

.content {
	font: var(--font-m);
	color: var(--secondary-color);
	margin-top: 5px;
	margin-bottom: -5px;
}

.error {
	.title {
		color: var(--red-light);
	}

	.content {
		color: var(--red-dark);
	}
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center{
	text-align: center;
}