.Sidebar {
	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-heigth));
	background: var(--inverted-bg-color);
	position: fixed;
	z-index: var(--bar-z-index);
	left: 0;
	top: var(--navbar-heigth);
}

.sidebarredesigned {
	// position: fixed;
	width: 220px;
	height: 100%;
	left: 0;
	background: var(--light-bg-redesigned);
	border-radius: 32px;
	z-index: var(--bar-z-index);
}

.animation {
	transition: width 0.3s;
	transition: background-color 0.1s 0.2s;
}

.switchers {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.switchersredesign {
	position: absolute;
	bottom: 64px;
	display: flex;
	margin-left: 32px;
}

.lang {
	margin: auto 20px;
}

.collapsebtn {
	position: absolute;
	right: -84px;
	bottom: 20px;
}

.collapsebtnredesign {
	position: relative;
	left: 16px;
	bottom: -16px;
}

.items {
	// margin-top: 16px;
	margin-left: 20%;
}

.appicon {
	margin-block: 32px;
}

.appiconsmall {
	margin-block: 16px;
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.switchers,
	.switchersredesign {
		flex-direction: column;
		align-items: center;
	}

	.switchersredesign {
		margin-left: 8px;
		margin-bottom: -20px;
	}

	 .collapsebtn {
		right: -40px;
	 	bottom: 32px;
	 }

	.collapsebtnredesign {
		left: 64px;
		bottom: 40px;
	}

	.lang {
		margin: 10px;
	}
}
