.item {
	// margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 16px;
	z-index: 1;
}

.itemredesigned {
	// margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 16px;
	width: 100%;
	padding: 0 16px;
	z-index: 1;
}

.link {
	// margin-left: 10px
	opacity: 1;
	transition: 0.3s opacity;
}

.activeLink {
	background: linear-gradient(90deg, rgb(95 210 245 / 30%) 2%, rgb(95 210 245 / 0%) 120%);
	border-left: solid;
	border-width: 2px;
	border-color: var(--accent-redesigned);

	&.itemredesigned {
		padding: 0 14px;
	}

	// &::before {
	// 	content: '';
	// 	position: 'absolute';
	// 	width: 10px;
	// 	left: 0;
	// 	background: var(--accent-redesigned);
	// 	height: 100%;

	// }
}

.icon {
	fill: var(--inverted-primary-color);
}

.collapsed {
	.link {
		opacity: 0;
		transition: 0.3s opacity;
		width: 0;
	}
}
