.notificationlist {
	overflow-y: auto;
	overflow-x: hidden;
}

.notificationitem {
	padding: 10px;
	aria-haspopup: true;
	width: 100%;
	background: none;
	border: 1px solid transparent;
	color: var(--primary-color);
	list-style-type: none;
	transition: all 0.3s ease;
	user-select: none;
	cursor: pointer;
}

.selected {
	&:hover {
		background: var(--inverted-primary-color);
		border-color: var(--primary-color);
	}

	&:focus {
		background: green;
	}
}

.active {
	background: var(--inverted-primary-color);
	border-radius: 10px;
}

.disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
