.profilepageheader {
	margin-bottom: 20px;
}

.editbtn {
	margin-left: 20px;
}

.btns {
	margin-left: auto;
}

.saveredesign {
	color: var(--save-redesigned);
}

.cancelredesign {
	color: var(--cancel-redesigned);
}
