
.filtration {
	width: 100%;
}

.filters {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 10px;
}

.input {
	width: 100%;

	input {
		color: var(--inverted-primary-color);
		background: var(--inverted-bg-color);
	}
}

.inputredesign {
	width: 100%;

	input {
		color: var(--text-redesigned);
		background: var(--light-bg-redesigned);
		margin: 0;
	}
}