.MainLayout {
	// min-height: 100vh;
	display: grid;
	grid-template-areas: 'sidebar content rightbar';
	grid-template-columns: minmax(auto, max-content) 1fr minmax(auto, max-content);
	grid-auto-flow: column dense;
}

.sidebar {
	display: grid;
	grid-area: sidebar;
	max-width: 284px;
	justify-self: center;
	padding: 32px;
}

.content {
	display: grid;
	grid-area: content;
	width: 100%;
	min-width: 525px;
	max-width: 1300px;
	height: 100vh;
	justify-self: center;
	justify-content: stretch;
	padding: 32px;
	overflow: hidden;
}

.rightbar {
	display: flex;
	flex-direction: column;
	max-width: 270px;
	height: 100%;

	// display: flex;
	// flex-direction: column;
	// align-items: flex-end;
}

.toolbar {
	height: 100%;
}

.header {
	justify-self: end;
	height: fit-content;
}
