.MainLayout {
    max-height: 10vh;
    display: grid;
    grid-template-areas: 'sidebar content rightbar';
    grid-template-columns: minmax(auto, 284px) 1fr minmax(200px,275px);
}

.sidebar {
    grid-area: sidebar;
    justify-self: flex-start;
    padding: 32px;
}

.content {
    grid-area: content;
    max-width: 1200px;
   // max-height: fit-content;
    justify-self: center;
    padding: 32px; 
}

.rightbar {
    grid-area: rightbar;  
}

.toolbar {
    margin-top: 100px;
}

.header {

}
