.articlespage,
.articlepageredesign {
	min-height: 100%;
	width: 100vw;
	overflow: hidden;
	overflow-y: auto;

	// padding-top: var(--section-header-heigth);
	// padding-right: 0;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 32px;
}

.articlelist {
	// margin-top: 30px;
	height: calc(100% - 30px);
}

.articlelistredesign {
	padding-top: 10px;
	position: relative;
	height: 100%;
}

.headerviews {
	display: flex;
	min-width: 80px;
	min-height: var(--headers-heigth);
	align-items: center;
	margin-left: auto;
}

.inprogress {
	position: absolute;
	background: linear-gradient(to left, lime 28px, red 77%, cyan);
	top: 0;
	left: 0;
	right: 0;
	height: 5px;
	margin: 0;
	z-index: 100;
	animation: progress-bar 1s ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes progress-bar {
	0% {
		width: 0;
		left: 0;
	}

	50% {
		width: 100%;
		left: 0;
	}

	100% {
		left: 100%;
		width: 0;
	}
}
