.articlespage {
	min-height: 100%;
	overflow: hidden;
	overflow-y: auto;
	// padding-top: var(--section-header-heigth);
	// padding-right: 0;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 32px;
}

.articlelist {
	// margin-top: 30px;
	height: calc(100% - 30px);
}
