.articledetailespage {
	min-height: 100vh;
	width: 100vw;
}

.title {
	margin-top: 20px;
}

.recommendation {
	margin-top: 20px;
	padding: 10px;
	overflow-y: hidden;
	overflow-x: auto;
	flex-wrap: nowrap;
}
