.tabs {
	box-sizing: content-box;
	height: 100%;
}

.label {
	margin-left: -10px;
}

.cardtab {
	color: var(--text-redesigned);
	background: var(--dark-bg-redesigned);
	transition: all 0.1s ease-in;
	box-shadow: 2px 0.5px 2px 0.5px var(--bg-redesigned);
	border: 2px solid transparent;
	cursor: pointer;

	&::selection {
		background: transparent;
	}

	&:hover {
		border: 2px solid var(--accent-redesigned);
		background: var(--light-bg-redesigned);
		box-shadow: none;
		transform: scale(1.2);
	}
}

.selected {
	background: var(--light-bg-redesigned);
	// color: var(--accent-redesigned);
	// border: 2px solid var(--accent-redesigned);
}
