.dark_theme {
	--bg-color: #090950;
	--inverted-bg-color: #dedeeb;
	--primary-color: #04ff04;
	--secondary-color: #049604;
	--inverted-primary-color: #0450ff;
	--inverted-secondary-color: #041c65;

    // redesigned
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;

	/* text block bgColor */
	--code-bgcolor: #0f0f8c;

	/* card bgColor */
	--card-bg: #0e0e80;

	/* listbox bgColor */
	--listbox-bg: #0e0e80;

	/* themeswitcher */
	--theme-icon-flood-color: #2550aa;

	/* skeleton style */
	--skeleton-color: #1515ad;
	--skeleton-shadow: #2b2be8;
}
