.orange_theme {
	--bg-color: #faf4fb;
	--inverted-bg-color: #bd5012;
	--primary-color: #eb4e40;
	--secondary-color: #a12216;
	--inverted-primary-color: #cbb;
	--inverted-secondary-color: #fbf9f4;

    // redesigned
    --dark-bg-redesigned: #FFF3D6;
    --bg-redesigned: #F0C048;
    --light-bg-redesigned: #F2D791;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;

	/* text block bgColor */
	--code-bgcolor: #fff;

	/* card bgColor */
	--card-bg: #d8d0d8;

	/* listbox bgColor */
	--listbox-bg: #d8d0d8;

	/* themeswitcher */
	--theme-icon-flood-color: #eab0b0;

	/* skeleton style */
	--skeleton-color: #f0b0b0;
	--skeleton-shadow: rgba(0 0 0 / 30%);
}
