.wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	white-space: nowrap;
}

.searchicon {
	position: absolute;
	padding-bottom: 5px;
	fill: var(--hint-redesigned);
	stroke: var(--hint-redesigned);

	&.left {
		left: 3px;
	}

	&.right {
		right: 3px;
	}
}

.inputwrapper {
	position: relative;
	width: 100%;
	color: var(--text-redesigned);

	&:has(input:focus) .searchicon {
		fill: var(--accent-redesigned);
		stroke: var(--accent-redesigned);
	}
}

.wrapper > .validation {
	flex: 1 1 100%;

	p::after {
		content: ' \21B4';

		/* display: inline-flexbox;
		 width: fit-content; */
	}

	margin-top: -25px;
}

.readonly {
	opacity: 0.7;
	cursor: not-allowed;
}

.input {
	padding-left: 8px;

	&.left {
		padding-left: 32px;
		padding-right: 8px;
	}

	&.right {
		padding-left: 8px;
		padding-right: 32px;
	}

	background: transparent;
	color: var(--text-redesigned);
	border: 2px solid var(--hint-redesigned);
	border-radius: 48px;
	outline: none;
	width: 100%;

	&:focus,
	&:hover {
		border: 2px solid var(--accent-redesigned);
	}
}

.s {
	height: 24px;
	font: var(--font-s-redesigned);
}

.m {
	height: 32px;
	font: var(--font-m-redesigned);
}

.l {
	height: 40px;
	font: var(--font-l-redesigned);
}
