.articledetailes {
	width: 100%;
}

.loading {
	width: 100%;
}

.avatar {
	margin: 0 auto;
}

.title {
	margin-top: 20px;
	margin-bottom: 5px;
}

.skeleton {
	margin-top: 15px;
}

.block {
	margin-top: 10px;
}

.articleinfo {
	p {
		margin: 0;
	}
}

.icon {
	margin-right: 10px;
}
