.icon {
	stroke-width: 1;
}

.primary {
	fill: var(--primary-color);
	stroke: var(--primary-color);
	//stroke-width: 1;
}

.inverted {
	fill: var(--inverted-primary-color);
	stroke: var(--inverted-primary-color);
	//stroke-width: 1;
}

.none {
	fill: none;
	stroke: none;
	//stroke-width: 1;
}

.alert {
	fill: red;
}
