.navbar {
	position: fixed;
	width: 100%;
	height: var(--navbar-heigth);
	background: var(--inverted-bg-color);
	left: 0;
	top: 0;
	z-index: var(--bars-z-index);
	display: flex;
	align-items: center;
	padding: 20px;
	transition: background-color 0.1s 0.2s;
}

.mainlink {
	margin-right: 15px;
}

.links {
	margin-left: auto;

	&:hover {
		opacity: 0.9;
	}
}

.createLink {
	margin-left: 20px;
}

.appName {
	width: var(--sidebar-width);
	margin-left: 15px;
}
