.navbar {
	position: absolute;
	width: 100%;
	height: var(--navbar-heigth);
	background: var(--inverted-bg-color);
	left: 0;
	top: 0;
	z-index: var(--bar-z-index);
	display: flex;
	align-items: center;
	padding: 20px;
	transition: background-color 0.1s 0.2s;
}

.navbarredesign {
	// position: absolute;
	// width: 100%;
	height: var(--navbar-heigth);
	background: var(--inverted-bg-color);
	border-radius: 10px;
	// z-index: var(--bar-z-index);
	display: flex;
	align-items: center;
	padding: 16px;
	margin: 16px;
	transition: background-color 0.1s 0.2s;
}

.mainlink {
	margin-right: 15px;
}

.actions {
	margin-left: auto;
}

.links:hover:not(:has(div[role='menu'])):not(:has(div[id^='headlessui-popover-panel'])) {
	opacity: 0.9;
}

.createLink {
	margin-left: 20px;
}

.appName {
	width: var(--sidebar-width);
	margin-left: 15px;
}
