.button {
	cursor: pointer;
	background-color: var(--light-bg-redesigned);
	padding: 10px 15px;

	&:hover:not([disabled]) {
		opacity: 0.7;
		fill-opacity: 0.7;
		stroke-opacity: 0.7;
		color: var(--accent-redesigned);
	}

	svg > path {
		fill: var(--text-redesigned);
		stroke: var(--text-redesigned);
	}

}

.button[disabled] {
	cursor: not-allowed;
}

.clear,
.inverted {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

.inverted {
	color: var(--bg-redesigned);
}

.filled {
	background: var(--light-bg-redesigned);
	border: none;
	outline: none;
	padding: 0 16px;
	border-radius: 34px;
}

.outline {
	border: 1px solid var(--icon-redesigned);
	color: var(--text-redesigned);
	border-radius: 34px;
	background: none;

	&:hover {
		border: 1px solid var(--accent-redesigned);
	}
}

.cancel {
	border: 1px solid var(--cancel-redesigned);
	color: var(--text-redesigned);
	border-radius: 34px;
	background: none;
}

.success {
	border: 1px solid var(--save-redesigned);
	color: var(--text-redesigned);
	border-radius: 34px;
	background: none;
}

.outline_red {
	border: 1px solid var(--red-light);
	color: var(--red-light);
	background: none;
}

.background {
	background: var(--bg-redesigned);
	color: var(--text-redesigned);
	border: none;
}

.backgroundInverted {
	background: var(--light-bg-redesigned);
	color: var(--text-redesigned);
	border: none;
}

.square {
	padding: 0;
}

.disabled {
	opacity: 0.7;
}

.square.m {
	width: var(--font-line-m);
	height: var(--font-line-m);
	font: var(--font-m-redesigned);
}

.square.l {
	width: var(--font-line-l);
	height: var(--font-line-l);
	font: var(--font-l-redesigned);
}

.square.xl {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
	font: var(--font-xl-redesigned);
}

.m {
	font: var(--font-m-redesigned);
}

.l {
	font: var(--font-l-redesigned);
}

.xl {
	font: var(--font-xl-redesigned);
}
