.card {
	border: 1px solid var(--text-redesigned);
	background: var(--bg-redesign);
	transition: all ease 0.3s;
}

.max {
	width: 100%;
}

.normal {
	background: var(--dark-bg-redesigned);
	border: none;
}

.outline {
	border: 1px solid var(--accent-redesigned);
}

.standart {
	border-radius: 24px;
}

.round {
	border-radius: 40px;
}

.nopaddings {
	padding: 0;
}
