.profilecard {
	padding: 20px;
	border: 2px solid var(--inverted-bg-color);
}

.inputswrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.input {
	margin-top: 10px;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30vh;
}

.avatarwrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}

.editing {
	border: 2px solid var(--inverted-primary-color);
	background-color: rgba(220, 240, 240, 0.2);
}
