.profilecard {
	padding: 20px;
	border: 2px solid var(--inverted-bg-color);
}

.input {
	flex-grow: 1;
}

.loading,
.error {
	height: 30vh;
}

.editing {
	border: 2px solid var(--inverted-primary-color);
	background-color: rgb(220 240 240 / 20%);
}
