.feedbackform {
	display: flex;
	flex-direction: column;
	background: var(--bg-color);
	border-radius: 16px;
	padding: 24px;
	min-width: 350px;
}

.feedbackformredesign {
	min-width: 350px;
}

.input {
	margin-top: 10px;
	font: var(--font-m);
}

.feedbackbtn {
	margin-top: 25px;
}
