.articlesheader {
	position: fixed;
	display: flex;
	background: var(--bg-color);
	align-items: flex-end;
	top: var(--navbar-heigth);
	padding: 10px 20px;
	right: 40px;
	z-index: var(--bars-z-index);
	&:hover {
		pointer-events: none;
	}
	& button,
	select {
		cursor: pointer;
		pointer-events: auto;
	}

	& input {
		cursor: auto;
		pointer-events: auto;
	}
}

.headerfilters {
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}

.headerviews {
	margin-left: auto;
}
