.icon {
	stroke-width: 1;
	pointer-events: none;
}

.standart,
.navlink,
.scroll,
.button {
	fill: var(--icon-redesigned);
	stroke: none; // var(--icon-redesigned);
}

.scroll {
	opacity: 0.7;
}

.none {
	fill: none;
	stroke: none;
}

.alert {
	fill: red;
}

.togglebutton {
	margin: 0;
	margin-top: 32px;
	padding: 0;

	// border: 1;
	// outline: 0;
	position: absolute;
	right: 0;
	top: 50%;
	width: 33px;
	height: 100px;
	opacity: 0.6;
	display: flex;
	align-items: center;
	border-color: var(--icon-redesigned);
	background: none;
	cursor: pointer;

	&:hover {
		.icon {
			color: var(--accent-redesigned);
		}

		opacity: 1;
	}
}

.nonebutton {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	width: fit-content;
	height: fit-content;
	background: none;
	cursor: pointer;
}

button[disabled] {
	opacity: 0.2;
	cursor: not-allowed;
}
