.icon {
	stroke-width: 1;
	fill: var(--icon-redesigned);
	stroke: var(--icon-redesigned);
}

.clickable {
	pointer-events: none;
}

.none {
	fill: none;
	stroke: none;
}

.alert {
	fill: red;
}

.button {
	margin: 0;
	padding: 0;
	// border: 1;
	// outline: 0;
	position: absolute;
	right: 0;
	top: 50%;
	width: 33px;
	height: 100px;
	opacity: 0.6;
	display: flex;
	align-items: center;
	border-color: var(--icon-redesigned);
	background: none;
	cursor: pointer;
}

.button:hover {
	.icon {
		color: var(--accent-redesigned);
	}
	opacity: 1;
}
